@model DH_BugTracker.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">@ViewBag.Title</h4>
                    <p class="card-category" style="padding-left:10px">New Password Form</p>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", style = "padding-left:5px" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "padding-left:5px" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "padding-left:5px" })
                            </div>
                        </div>
                        <br />
                        <div class="col my-auto" style="padding-top:20px">
                            <a href="~/Manage/EditUser"><u><b>Back to profile</b></u></a>
                            <button type="submit" class="btn allbtn pull-right">Change Password</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
