@using DH_BugTracker.Extensions;
@model DH_BugTracker.Models.UserProfileViewModel

@{
    ViewBag.Title = "EditUser";
    var displayPath = User.Identity.GetAvatarPath().Split('/')[2].Split('_')[0] + 
                      Path.GetExtension(User.Identity.GetAvatarPath());
}

<div class="row" style="margin-left:50px">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category" style="padding-left:10px">Your user profile.</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("EditUser", "Manage", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.AvatarPath)
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DisplayName, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.DisplayName, new
                                        { @class = "form-control", style = "padding-left:5px" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.Email, new
                                        { @class = "form-control", style = "padding-left:5px" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.FirstName, new
                                        { @class = "form-control", style = "padding-left:5px" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.LastName, new
                                        { @class = "form-control", style = "padding-left:5px" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label class="btn btn-sm btn-dark" data_but="btn-xs" for="my-file-selector">
                                <i class='fa fa-cloud-upload'></i> Upload Avatar
                            </label>
                            @Html.Hidden("Avatar", User.Identity.GetAvatarPath(), new
                            {
                                onchange = "$('#upload-file-info').html(this.files[0].name)",
                                id = "my-file-selector",
                                style = "display:none",
                                type = "file"
                            })
                            <span class='label label-info' id="upload-file-info" style="padding-left:5px">
                                @displayPath
                            </span>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <a href="~/Manage/ChangePassword" class="btn btn-sm btn-dark" data_but="btn-xs">
                                <i class="fa fa-lock"></i> Reset Password
                            </a>
                            <p class="text-success">@ViewBag.StatusMessage</p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn allbtn pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-4" style="margin-left:50px">
        <br />
        <br />
        <br />
        <div class="card card-profile">
            <div class="card-avatar">
                <img class="img" src="@User.Identity.GetAvatarPath()" />
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">@User.Identity.GetRoleName()</h6>
                <h4 class="card-title">@User.Identity.GetFullName()</h4>
                <p class="card-description">
                    Welcome @User.Identity.GetDisplayName(), to my Bug Tracker Application. As a fully realized defect tracking system this 
                    project is an excellent tool for any company looking to manage their software. Within this project, Tickets for bugs and 
                    errors can be submitted and tracked through the entire development process into completion.
                </p>
            </div>
        </div>
    </div>
</div>
