@using DH_BugTracker.Helpers;
@using Microsoft.AspNet.Identity;
@using DH_BugTracker.Models;
@model DH_BugTracker.Models.UserProfileViewModel

@{
    ViewBag.Title = "EditUser";
    ApplicationDbContext db = new ApplicationDbContext();
    UserRolesHelper roles = new UserRolesHelper();
    var urRole = roles.ListUserRoles(User.Identity.GetUserId()).FirstOrDefault();
    var displayName = db.Users.Find(User.Identity.GetUserId()).DisplayName;
    var fullName = db.Users.Find(User.Identity.GetUserId()).FullName;
    var avatarPath = db.Users.Find(User.Identity.GetUserId()).AvatarPath;
    var displayPath = avatarPath.Split('/')[2].Split('_')[0] + Path.GetExtension(avatarPath);
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-category" style="padding-left:10px">Your user profile. Demo users cannot save changes.</p>
            </div>
            <div class="card-body">
               @using (Html.BeginForm("EditUser", "Manage", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DisplayName, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.DisplayName, new
                                        {@class = "form-control", style = "padding-left:5px"})
                                @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.Email, new
                                        {@class = "form-control", style = "padding-left:5px"})
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.FirstName, new
                                        {@class = "form-control", style = "padding-left:5px"})
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.LastName, new
                                        {@class = "form-control", style = "padding-left:5px"})
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label class="btn btn-sm btn-dark" data_but="btn-xs" for="my-file-selector">
                                <i class='fa fa-cloud-upload'></i> Upload Avatar
                            </label>
                            @Html.Hidden("avatar",avatarPath,new 
                            {
                                onchange = "$('#upload-file-info').html(this.files[0].name)",
                                id = "my-file-selector",
                                style = "display:none",
                                type = "file"
                            })   
                            <span class='label label-info' id="upload-file-info" style="padding-left:5px">
                                @displayPath
                            </span>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <a href="~/Manage/ChangePassword" class="btn btn-sm btn-dark" data_but="btn-xs">
                                <i class="fa fa-lock"></i> Reset Password
                            </a>
                            <p class="text-success">@ViewBag.StatusMessage</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn allbtn pull-right">Update Profile</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
