@{
    ViewBag.Title = "Demo_User Login";
    Layout = "~/Views/Shared/_LoginShared.cshtml";
}

<span class="login100-form-title p-b-33">
    <i class="fa fa-bug"></i> @ViewBag.Title
</span>
@using (Html.BeginForm("Demo_Login", "Account", FormMethod.Post, new { @class="form-horizontal", id = "frmDemo" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("DemoEmail")
    <div class="row">
        <div class="col text-md-center">
            <button onclick="SubmitDemo('@ViewBag.DemoAdminEmail')">
                <img src="~/Avatars/Admin-icon.png" style="height:100px" /><br />Admin
            </button>
        </div>
        <div class="col text-md-center">
            <button onclick="SubmitDemo('@ViewBag.DemoPMEmail')">
                <img src="~/Avatars/Project-Manager-icon.png" style="height:100px" /><br />Project Manager
            </button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col text-md-center">
            <button onclick="SubmitDemo('@ViewBag.DemoDevEmail')">
                <img src="~/Avatars/Developer-icon.png" style="height:100px" /><br />Developer
            </button>
        </div>
        <div class="col text-md-center">
            <button onclick="SubmitDemo('@ViewBag.DemoSubEmail')">
                <img src="~/Avatars/Submitter-icon.png" style="height:100px" /><br />Submitter
            </button>
        </div>
    </div>
}
<div class="text-center p-t-45 p-b-4">
    <span class="txt1">
        Have an account?
    </span>
    <a class="txt2 hov1">
        <u>@Html.ActionLink("Sign In", "Login")</u>
    </a>
</div>

@section scripts{
    <script>
        function SubmitDemo(e) {
            $('#DemoEmail').val(e);
            $('#frmDemo').submit();
        }
    </script>
}
