@model IEnumerable<DH_BugTracker.Models.ManageRolesViewModel>
@{
    ViewBag.Title = "Manage User Roles";
}

<style>
    .allWide {
        width: 100%;
        max-width: 100%;
    }
</style>

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col">
                    @Html.ListBox("UserIds", null, new { @class = "allWide txtBoxs" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.DropDownList("Role", null, "--Select Role--", new { @class = "allWide txtBoxs" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn allbtn allWide">Submit</button>
                </div>
            </div>
        }
    </div>
    <div class="col-6">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Your Personnel</h4>
                    <p class="card-category" style="padding-left:10px">All the users in your database.</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="DTJQ3">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Email")
                                    </th>
                                    <th>
                                        @Html.DisplayName("User Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Role")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => user.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => user.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => user.RoleName)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section scripts{
    <script>
        $('#DTJQ3').DataTable();
    </script>
}