@using DH_BugTracker.Models;
@using DH_BugTracker.Helpers;
@using Microsoft.AspNet.Identity;

@{
    ApplicationDbContext db = new ApplicationDbContext();
    UserRolesHelper roles = new UserRolesHelper();
    var urRole = roles.ListUserRoles(User.Identity.GetUserId()).FirstOrDefault();
    var displayName = db.Users.Find(User.Identity.GetUserId()).DisplayName;
    var avatarPath = db.Users.Find(User.Identity.GetUserId()).AvatarPath;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Bug Tracker Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    @Styles.Render("~/Content/css")
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="~/Content/material-dashboard.min.css" rel="stylesheet" />
    <!-- JQuery Datatables -->
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- My Custom -->
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <!-- Morris Chart -->
    <link href="~/Content/morris.css" rel="stylesheet" />
    <!-- Select2 -->
    <link href="~/Content/LoginCustoms/select2.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="azure" data-background-color="white">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="row no-gutters">
                <div class="col-5" style="border-bottom:1px solid #E5E5E5;z-index:2">
                    <img id="avatarImg" class="rounded-circle" src="@avatarPath" />
                </div>
                <div class="col logo">
                    <span class="simple-text">
                        Welcome,
                    </span>
                    <h6 class="text-center no-gutters" style="line-height:32px">
                        @displayName
                    </h6>
                </div>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active  ">
                        <a class="nav-link" href="~/Home/Dashboard">
                            <i class="material-icons">dashboard</i>
                            <p><b>Dashboard Home</b></p>
                        </a>
                    </li>
                    <!-- your sidebar here -->
                    @if (User.IsInRole("Admin") || User.IsInRole("Demo_Admin"))
                    {
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Admin/ManageRoles">
                                <i class="material-icons">group_add</i>
                                <p><b>Manage Role Assignment</b></p>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Demo_Admin") || User.IsInRole("Project Manager")
                                                || User.IsInRole("Demo_Project Manager"))
                    {
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Admin/ManageProjects">
                                <i class="material-icons">group</i>
                                <p><b>Manage Project Users</b></p>
                            </a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Project/Index">
                                <i class="material-icons">view_headline</i>
                                <p><b>My Projects</b></p>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Ticket/Index">
                                <i class="material-icons">view_list</i>
                                <p><b>My Tickets</b></p>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Manage/EditUser">
                                <i class="material-icons">person</i>
                                <p><b>User Profile</b></p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top" style="background-color:white; border:1px #E5E5E5 solid">
                @*;position:fixed;margin-left:259px;max-width:84%;z-index:1*@
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <span class="navbar-brand">
                            Logged in as: <b>@(urRole != null ? urRole : "Not Assigned")</b>
                        </span>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Dashboard">
                                    <i class="material-icons">dashboard</i>
                                    <p class="d-lg-none d-md-block">
                                        Stats
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Notifications
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">@NotificationHelper.GetUnreadNotifications().Count()</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    @foreach (var unreadNotification in NotificationHelper.GetUnreadNotifications().OrderByDescending(tn => tn.Created))
                                    {
                                        using (Html.BeginForm("Dismiss", "TicketNotify", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("Id", unreadNotification.Id)
                                            <a class="dropdown-item" style="max-height:45px;padding:0 5px 0 15px">
                                                <input type="submit" value="Dismiss" class="fa fa-times allbtn" style="margin-right:15px" />
                                                <span class="image"><img src="@unreadNotification.User.AvatarPath" style="width:25px;height:25px;margin-right:5px" /></span>
                                                <span>
                                                    <span>From @unreadNotification.User.FullName</span><br />
                                                    <span class="time">Created: @unreadNotification.Created.ToString("MMM dd, yyyy")</span><br />
                                                </span>
                                                <pre class="message" style="padding-left:15px">


@unreadNotification.Body
                                                </pre>
                                            </a>
                                        }
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    User Actions
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="~/Manage/EditUser">Profile</a>
                                    <a class="dropdown-item" href="~/Manage/Index">Settings</a>
                                    <div class="dropdown-divider"></div>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a class="dropdown-item" href="javascript:$('#logoutForm').submit()">Log out</a>
                                    }
                                </div>
                            </li>
                            <!-- your navbar here -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid body-content" style="z-index:0 !important;padding-left:30px">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <!--   Core JS Files   -->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-material-design.min.js"></script>
    <script src="~/Scripts/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="~/Scripts/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/Scripts/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/Scripts/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/Scripts/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/Scripts/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/Scripts/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="~/Scripts/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>*@
    <!-- Chartist JS -->
    <script src="~/Scripts/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Scripts/material-dashboard.min.js"></script>
    <!-- Select2 -->
    <script src="~/Scripts/LoginCustoms/select2.min.js"></script>

    @RenderSection("scripts", required: false)
    <script>
        var message = '@TempData["Message"]';
        if (message != '') {
            Swal.fire({
                icon: 'warning',
                title: 'Sorry!',
                text: message
            })
        };

        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            //init DateTimePickers
            md.initFormExtendedDatetimepickers();
        });
    </script>

</body>
</html>
