@using DH_BugTracker.Models;
@using DH_BugTracker.Helpers;
@using Microsoft.AspNet.Identity;

@{
    ApplicationDbContext db = new ApplicationDbContext();
    UserRolesHelper roles = new UserRolesHelper();
    var urRole = roles.ListUserRoles(User.Identity.GetUserId()).FirstOrDefault();
    var displayName = db.Users.Find(User.Identity.GetUserId()).DisplayName;
    var avatarPath = db.Users.Find(User.Identity.GetUserId()).AvatarPath;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Bug Tracker Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    @Styles.Render("~/Content/css")
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Kit CSS -->
    <link href="~/Content/material-dashboard.min.css" rel="stylesheet" />
    <!-- JQuery Datatables -->
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- My Custom -->
    <link href="~/Content/Custom.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="azure" data-background-color="white">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="row no-gutters">
                <div class="col-5" style="border-bottom:1px solid #E5E5E5;z-index:2">
                    <img id="avatarImg" class="rounded-circle" src="@avatarPath" />
                </div>
                <div class="col logo">
                    <span class="simple-text">
                        Welcome,
                    </span>
                    <h6 class="text-center no-gutters" style="line-height:32px">
                        @displayName
                    </h6>
                </div>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active  ">
                        <a class="nav-link" href="~/Home/Dashboard">
                            <i class="material-icons">dashboard</i>
                            <p><b>Dashboard Home</b></p>
                        </a>
                    </li>
                    <!-- your sidebar here -->
                    @if (User.IsInRole("Admin") || User.IsInRole("Demo_Admin"))
                    {
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Admin/ManageRoles">
                                <i class="material-icons">group_add</i>
                                <p><b>Manage Role Assignment</b></p>
                            </a>
                        </li>
                        @*<li>@Html.ActionLink("Manage Role Assignment", "ManageRoles", "Admin")</li>*@
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Demo_Admin") || User.IsInRole("Project Manager") || User.IsInRole("Demo_Project Manager"))
                    {
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Admin/ManageProjects">
                                <i class="material-icons">group</i>
                                <p><b>Manage Project Users</b></p>
                            </a>
                        </li>
                        @*<li>@Html.ActionLink("Manage Project Users", "ManageProjects", "Admin")</li>*@
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Project/Index">
                                <i class="material-icons">view_headline</i>
                                <p><b>My Projects</b></p>
                            </a>
                        </li>
                        @*<li>@Html.ActionLink("My Projects", "Index", "Project")</li>*@
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Ticket/Index">
                                <i class="material-icons">view_list</i>
                                <p><b>My Tickets</b></p>
                            </a>
                        </li>
                        @*<li>@Html.ActionLink("My Tickets", "Index", "Ticket")</li>*@
                        <li class="nav-item  ">
                            <a class="nav-link" href="~/Manage/EditUser">
                                <i class="material-icons">person</i>
                                <p><b>User Profile</b></p>
                            </a>
                        </li>
                        @*<li>@Html.ActionLink("Edit User Info", "EditUser", "Manage")</li>*@
                    }
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top" style="background-color:white; border:1px #E5E5E5 solid;position:fixed;margin-left:259px;z-index:1">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <span class="navbar-brand">
                            Logged in as: <b>@(urRole != null ? urRole : "Not Assigned")</b>
                        </span>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <i class="material-icons">notifications</i> Notifications
                                </a>
                            </li>
                            <!-- your navbar here -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid body-content" style="z-index:0 !important;padding-left:45px">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>

