@using DH_BugTracker.Helpers
@model IEnumerable<DH_BugTracker.Models.Project>

@{
    ViewBag.Title = "Index";
    TicketHelper tktHelp = new TicketHelper();
    var access = tktHelp.ListMyProjectAccess();
}

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Demo_Admin") || User.IsInRole("Project Manager") || User.IsInRole("Demo_Project Manager"))
    {
        @Html.ActionLink("Create New Project", "Create", null, new { @class = "btn allbtn" })
    }
</p>
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">Your Projects</h4>
            <p class="card-category" style="padding-left:10px">All the Projects you have @access</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="DTJQ1">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="d-flex justify-content-end">
                                    <ul>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") ||
                                            User.IsInRole("Demo_Admin") || User.IsInRole("Demo_Project Manager"))
                                        {
                                            <li>@Html.ActionLink("Manage Users", "ManageUsers", new { id = item.Id })</li>
                                        }
                                        else if (User.IsInRole("Submitter") || User.IsInRole("Demo_Submitter"))
                                        {
                                            <li>@Html.ActionLink("Create Ticket", "Create", "Ticket", new { id = item.Id }, null)</li>
                                        }

                                        <li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#DTJQ1').DataTable();
    </script>
}