
@{
    ViewBag.Title = "Manage Project Users";
}

<h3>@ViewBag.Title for Project: @ViewBag.ProjectName</h3>
<hr />

@using (Html.BeginForm())
{
<div class="row">
    @Html.AntiForgeryToken()
    @Html.Hidden("ProjectId", (int)ViewBag.ProjectId)

        @if (User.IsInRole("Admin") || User.IsInRole("Demo_Admin"))
        {
            <div class="col-md">
                <div class="row">
                    <h4>Administrators</h4>
                </div>
                <div class="row">
                @Html.DropDownList("AdminId", null, "--Select One--", new { @class = "form-control", style = "background-color: white;border:solid 1px grey" })
                </div>
            </div>
        }
    <div class="col-md">
        <div class="row">
            <h4>Project Managers</h4>
        </div>
        <div class="row">
            @Html.DropDownList("ProjectManagerId", null, "--Select One--", new { @class = "form-control", style = "background-color: white;border:solid 1px grey" })
        </div>
    </div>
    <div class="col-md">
        <div class="row">
            <h4>Developers</h4>
        </div>
        <div class="row">
            @Html.ListBox("Developers", null, new { @class = "form-control", style = "background-color: white;border:solid 1px grey" })
        </div>
        </div>
    <div class="col-md">
        <div class="row">
            <h4>Submitters</h4>
        </div>
        <div class="row">
            @Html.ListBox("Submitters", null, new { @class = "form-control", style = "background-color: white;border:solid 1px grey" })
        </div>
        </div>
    </div>
<hr />
<div class="row">
    <button type="submit" class="btn allbtn">Assign</button>
</div>
}
<br />
<div class="row">
    @Html.ActionLink("Back To List", "Index")
</div>