
@{
    ViewBag.Title = "Manage Project Users";
}

<h3>@ViewBag.Title</h3>
<h3> Project: @ViewBag.ProjectName</h3>
<hr />

@using (Html.BeginForm())
{
<div class="row">
    @Html.AntiForgeryToken()
    @Html.Hidden("ProjectId", (int)ViewBag.ProjectId)

    <div class="col-md">
        @Html.DropDownList("ProjectManagerId", null, "--Select--", new { @class = "form-control" })
    </div>
    <div class="col-md">
        @Html.ListBox("Developers", null, new { @class = "form-control" })
    </div>
    <div class="col-md">
        @Html.ListBox("Submitters", null, new { @class = "form-control" })
    </div>
</div>
<hr />
<div class="row">
    <button type="submit" class="btn btn-primary">Assign</button>
</div>
}
<br />
<div class="row">
    @Html.ActionLink("Back To List", "Index")
</div>