@model IEnumerable<DH_BugTracker.Models.TicketHistory>

@{
    ViewBag.Title = "Ticket History Index";
}
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title ">@ViewBag.title</h4>
                    <p class="card-category" style="padding-left:10px">All Ticket Histories in the database.</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="indexHistory">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Ticket Title")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Creator Name")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Property)
                                    </th>
                                    <th>
                                        @Html.DisplayName("Old Value")
                                    </th>
                                    <th>
                                        @Html.DisplayName("New Value")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Changed)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ticket.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Property)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OldValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NewValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Changed)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <script>
        $("#indexHistory").dataTable();
    </script>
}
