@model DH_BugTracker.Models.Ticket

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Edit Ticket</h4>
                <p class="card-category">Change Ticket properties</p>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Created)
                    @Html.HiddenFor(model => model.OwnerUserId)
                    <div class="row">
                        <div class="col-md-5">
                            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } } )
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-7">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control",style = "Max-width:90%" } } )
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            @Html.Label("Project", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control txtBoxs" })
                                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-7">
                            @Html.Label("Assigned Developer", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("AssignedToUserId", null, "-- Select Developer --", htmlAttributes: new { @class = "form-control txtBoxs" })
                                @Html.ValidationMessageFor(model => model.AssignedToUserId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            @Html.Label("Ticket Priority", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control txtBoxs" })
                                @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-7">
                            @Html.Label("Ticket Status", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control txtBoxs" })
                                @Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-5">
                            @Html.Label("Ticket Type", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control txtBoxs" })
                                @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-md-5">
                            @Html.Label("Ticket Owner", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("OwnerUserId", null, htmlAttributes: new { @class = "form-control txtBoxs" })
                                @Html.ValidationMessageFor(model => model.OwnerUserId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <u>@Html.ActionLink("Back to List", "Index")</u>
                            <button type="submit" class="btn allbtn pull-right">Update Ticket</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
